#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

/* Container for vertical scroll snapping */
.scroll-container {
  height: 100vh;             /* full viewport */
  overflow-y: scroll;        /* enable scrolling */
  scroll-snap-type: y mandatory; /* vertical snap */
  scrollbar-width: none;
}
.scroll-container > div {
  height: 100%;       /* take full height of the scroll-container */
  min-height: 100%;   /* ensures no shrinking */
  scroll-snap-align: start; /* optional: aligns to top on scroll */
}

/* Each section fills viewport */
.section {
  height: 100vh;             /* full screen height */
  scroll-snap-align: start;  /* snap to top */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  font-family: Consolas, "Courier New", monospace;
  text-align: center;
  padding: 2rem;
  background-color: #000000;
}


.section h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.section p {
  font-size: 1.5rem;
}

.projects {
  background-color: #000000; 
  color: white;
  padding: 4rem 2rem;
}

.projects a {
  color: white;
  background-color: #4d4d4d; 
  padding: 0.5em 1em;
  border-radius: 5px;
}
.projects a:hover {
  color: white;
  background-color: #11c3e2; 
  padding: 0.5em;
  border-radius: 5px;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  justify-items: center;
}

.project-card {
  width: 100%;
  max-width: 250px; /* smaller max width */
  padding: 1rem;    /* slightly smaller padding */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
}


.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
}

.project-image {
  width: 100%;
  height: 140px;   /* limit height */
  object-fit: cover; /* crop nicely without stretching */
  border-radius: 8px;
  margin-bottom: 0.8rem;
}

.app-container {
  display: flex;
  flex-direction: column; /* stack navbar + content vertically */
  min-height: 100vh;
}

.main-content {
  flex: 1; /* take remaining space */
  padding: 2rem;
  margin-top: 70px; /* height of navbar so content isn't hidden */
  display: flex;
  flex-direction: column; /* if you want sections stacked vertically */
  gap: 2rem; /* spacing between sections */
}